@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root {
    --clr-primary: hsl(172, 67%, 45%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(189, 41%, 97%);
    --clr-neutral-300: hsl(185, 41%, 84%);
    --clr-neutral-400: hsl(184, 14%, 56%);
    --clr-neutral-500: hsl(186, 14%, 43%);
    --clr-neutral-600: hsl(183, 100%, 15%);
}

*, *::after, *::before {
    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-size: 1rem;
}

body {
    margin: 0;
    font-family: 'Space Mono', monospace;
    background: var(--clr-neutral-300);
    font-size: 1rem;
    font-weight: 400;
}

button {
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
    border: none; 
    padding: 0.3em 0.6em;
    border-radius: 0.45rem;
    font-size: 1.4rem;
    font-weight: 700;
} 

.btn-main { 
    background-color: var(--clr-neutral-600);
    color: var(--clr-neutral-100);
} 

.btn-main:hover,
.btn-main:focus {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-600);
}

.btn-inverse {
    background-color: var(--clr-primary);
    color: var(--clr-neutral-600);  
}

.title {
    color: var(--clr-neutral-500);
    text-align: center;
    letter-spacing: .35em;
    padding: 1em 0;
}

form {
    background: var(--clr-neutral-100);
    border-radius: 1.8rem 1.8rem 0 0;
}

.accent-title {
    color: var(--clr-neutral-500);
}

.accent-title-light {
    color: var(--clr-neutral-400);
    font-size: .8rem;
}

.tip-amount {
    background: var(--clr-neutral-600);
    border-radius: 1rem;
    padding: 1.6rem;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.neutral-title {
    color: var(--clr-neutral-100);
}

input {
    border: none;
    background-color: var(--clr-neutral-200);
    width: 100%;
    border-radius: .25rem;
}

.bill__amount, .people-no {
    height: 40px;
    text-align: right;
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    color: var(--clr-neutral-600);
    padding-right: .8rem;
}

.bill__amount {
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    padding-left: .8rem;
} 

.people-no {
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    padding-left: .8rem;
} 

div + div {
    margin-top: 2em;
}

.calculator {
    padding: 2rem;
}

.tip__btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.accent-title-light { 
    margin-top: 0%;
}

.reset {
    width: 100%;
    margin-top: 1rem;
}

.tip__heading {
    margin-bottom: .9rem;
}

.tip__custom {
    font-family: 'Space Mono', monospace;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-align: right;
    padding-right: .8rem;
}

.bill__heading, .no-of-people__heading  { 
    margin-bottom: .6rem;
}

.tip-amount-display, .total-amount-display {
    /* text-align: right; */
    color:var(--clr-primary);
    font-size: 24px; 
}

.total-amount-display {
    margin-top: 1.25rem;
}

.tip-amount-display {
    align-self: start;
    margin-top: .4rem;
}

.col + .col {
    margin-top: 0;
}










































.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
